/* Global Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: normal;
}
h4,
h5 {
  font-size: 2.8rem;
}
button {
  padding: 2rem 6rem;
  background-color: #4c6e97;
  border: none;
  color: white;
  font-size: 1.8rem;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
button:hover {
  background-color: #253549;
}
button:focus {
  outline-style: solid;
  outline-color: #233750;
}
/*nav with here section*/
.main-head {
  color: white;
  background-color: #131b27;
  position: sticky;
  top: 0%;
  z-index: 1;
}
nav {
  display: flex;
  padding: 2rem;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
#logo {
  flex: 3 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/landing-page.jpg");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero h3 {
  padding: 5rem;
}

/* Locations Section */
#Locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.loactions-head {
  width: 90%;
  margin: auto;
}
.loactions-head h2 {
  text-decoration: underline;
  /* text-decoration-thickness: 0.5; */
  padding: 1rem 0rem;
}
.loactions-head h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131bc27c, #663b34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
}
.moving-cloud1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud2 {
  top: 10%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 3.5s infinite alternate ease-in-out;
}
/* Card Section*/

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.benefits-head h3 {
  padding: 1rem;
}
.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 30rem;
  margin: 2rem 5rem;
  min-height: 40vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card-img {
  background-color: #253549;
}
.card-img img {
  max-width: 15%;
  margin: 2rem;
}
.card h4,
.card p {
  padding: 1rem;
  line-height: 1.8;
}
/* Contact Section */
#contact {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/contact-mountain.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-wrapper {
  background: rgba(19, 28, 39, 0.8);
  width: 60%;
  border-radius: 20px;
  color: white;
  text-align: center;
}
.form-head {
  padding: 4rem;
}
.form-name,
.form-email {
  padding: 3rem;
}
.form-wrapper label {
  margin: 0rem 2rem;
}
.form-wrapper button {
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form-wrapper input {
  padding: 1rem 3rem;
}
/* Footer */
footer {
  color: white;
  background-color: rgba(19, 28, 39, 1);
}
.footer-wrapper {
  display: flex;
  padding: 2rem;
  min-height: 10vh;
  width: 90%;
  margin: auto;
  align-items: center;
  flex-wrap: wrap;
}
.footer-wrapper h5 {
  flex: 1 1 40rem;
}
.footer-wrapper ul {
  display: flex;
  list-style: none;
  flex: 1 1 40rem;
  justify-content: space-between;
  align-items: center;
}
@keyframes cloudAnimation {
  from {
    transform: translate(10%, -20%);
  }
  to {
    transform: translate(0%, 0%);
  }
}
/* Media Query*/
@media (max-width: 949px) {
  nav {
    text-align: center;
  }
  html {
    font-size: 45%;
  }
  #logo {
    padding: 2rem;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud1 {
    z-index: -1;
  }
  .moving-cloud2 {
    top: 10%;
    z-index: -2;
  }
  .loactions-head h3 {
    background: rgba(19, 28, 39, 0.9);
    -webkit-text-fill-color: white;
  }
  .footer-wrapper h5 {
    text-align: center;
    padding: 2rem;
  }
  .form-wrapper {
    width: 100%;
  }
}
